.main-content {
  padding-bottom: 50px;
}

footer.footer-min {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px;
  background-color: #2D2D2D;
  border-top: 5px solid #FFCC66;
  text-align: center;
}
